li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.listItems {
  display: flex;
  justify-content: space-around;
}

.listItems p {
  margin-right: 10px;
}

button {
  background-color: transparent;
  border: 0;
}
